.heading {
    text-align: center;
}

.sub-heading {
    text-align: center;
    font-size: large;
}

.icon {
    padding-top: 1rem;
    text-align: center;
    font-size: 3rem;
    width: 100%;
    height: max-content;
}

.form {
    padding: 1rem;
}

.field {
    width: 100%;
}

.remove-button {
    display: block;
    margin-inline: auto;
    margin-bottom: 1rem;
}

.submit-button {
    margin-left: 0.25rem;
}