.heading {
    text-align: center;
}

.sub-heading {
    text-align: center;
    font-size: large;
}

.task-icon {
    padding-top: 1rem;
    text-align: center;
    font-size: 3rem;
    width: 100%;
    height: max-content;
}

mat-form-field {
    width: 100%;
}

form {
    padding: 1rem;
}